<form class="d-flex" method="get" action="{% url 'create' %}"><input name="q"  value="create" hidden><button class="btn btn-outline-success" type="submit">generate</button></form><div id='room_501' style='padding: 0.5em'>
<table style='border-collapse: collapse; width: 95%'>
<tr><th style='border: 1px solid black' scope='col' colspan='2'>Room: 501</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Понедельник</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Вторник</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Среда</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Четверг</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Пятница</th>
</tr>
<tr>
<th style='border: 1px solid black; padding: 5px'>Lab: False</th>
<th style='border: 1px solid black; padding: 5px'>Seats: 40</th>
</tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>8:00 - 9:30</th>
<td></td><td style='border: 1px solid black; padding: 5px'>Математика<br />Карабакиров<br />AIN-1-21<br /><span style='color:#319378' title='Current room has no overlapping'> - </span><span style='color:#319378' title='Current room has enough seats'> - </span><span style='color:#319378' title='Current room with enough computers if they are required'> - </span><span style='color:#319378' title='Professors have no overlapping classes'> - </span></td><td></td><td></td><td style='border: 1px solid black; padding: 5px' rowspan='3'>Алгоритмы<br />Чечейбаев<br />AIN-1-20<br /><span style='color:#319378' title='Current room has no overlapping'> - </span><span style='color:#319378' title='Current room has enough seats'> - </span><span style='color:#319378' title='Current room with enough computers if they are required'> - </span><span style='color:#319378' title='Professors have no overlapping classes'> - </span></td></tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>9:30 - 11:00</th>
<td></td><td></td><td style='border: 1px solid black; padding: 5px'>Математика<br />Карабакиров<br />AIN-1-20<br /><span style='color:#319378' title='Current room has no overlapping'> - </span><span style='color:#319378' title='Current room has enough seats'> - </span><span style='color:#319378' title='Current room with enough computers if they are required'> - </span><span style='color:#319378' title='Professors have no overlapping classes'> - </span></td><td></td></tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>11:00 - 12:30</th>
<td></td><td style='border: 1px solid black; padding: 5px'>Математика<br />Карабакиров<br />AIN-1-21<br /><span style='color:#319378' title='Current room has no overlapping'> - </span><span style='color:#319378' title='Current room has enough seats'> - </span><span style='color:#319378' title='Current room with enough computers if they are required'> - </span><span style='color:#319378' title='Professors have no overlapping classes'> - </span></td><td></td><td></td></tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>12:30 - 14:00</th>
</tr>
</table>
</div>
<div id='room_502' style='padding: 0.5em'>
<table style='border-collapse: collapse; width: 95%'>
<tr><th style='border: 1px solid black' scope='col' colspan='2'>Room: 502</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Понедельник</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Вторник</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Среда</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Четверг</th>
<th style='border: 1px solid black; padding: 5px; width: 15%' scope='col' rowspan='2'>Пятница</th>
</tr>
<tr>
<th style='border: 1px solid black; padding: 5px'>Lab: False</th>
<th style='border: 1px solid black; padding: 5px'>Seats: 20</th>
</tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>8:00 - 9:30</th>
</tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>9:30 - 11:00</th>
</tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>11:00 - 12:30</th>
</tr>
<tr><th style='border: 1px solid black; padding: 5px' scope='row' colspan='2'>12:30 - 14:00</th>
</tr>
</table>
</div>
